AutoCompleteApp/Web References/YoutubeService/YoutubeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SelectTopKeywordYoutube">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IsTesting" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectTopKeywordYoutubeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectTopKeywordYoutubeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetSearchCounterYoutube">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTesting" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetSearchCounterYoutubeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetSearchCounterYoutubeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetSearchCounterForHoldKeywordsYoutube">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsTesting" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetSearchCounterForHoldKeywordsYoutubeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetSearchCounterForHoldKeywordsYoutubeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectTopProxy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectTopProxyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectTopProxyResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockDownKeywordYoutube">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockDownKeywordYoutubeResponse">
        <s:complexType />
      </s:element>
      <s:element name="LockDownProxy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockDownProxyResponse">
        <s:complexType />
      </s:element>
      <s:element name="ReleaseKeywordYoutube">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReleaseKeywordYoutubeResponse">
        <s:complexType />
      </s:element>
      <s:element name="ReleaseProxy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReleaseProxyResponse">
        <s:complexType />
      </s:element>
      <s:element name="IncreaseSearchCounterYoutube">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncreaseSearchCounterYoutubeResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectTopKeywordYoutubeSoapIn">
    <wsdl:part name="parameters" element="tns:SelectTopKeywordYoutube" />
  </wsdl:message>
  <wsdl:message name="SelectTopKeywordYoutubeSoapOut">
    <wsdl:part name="parameters" element="tns:SelectTopKeywordYoutubeResponse" />
  </wsdl:message>
  <wsdl:message name="ResetSearchCounterYoutubeSoapIn">
    <wsdl:part name="parameters" element="tns:ResetSearchCounterYoutube" />
  </wsdl:message>
  <wsdl:message name="ResetSearchCounterYoutubeSoapOut">
    <wsdl:part name="parameters" element="tns:ResetSearchCounterYoutubeResponse" />
  </wsdl:message>
  <wsdl:message name="ResetSearchCounterForHoldKeywordsYoutubeSoapIn">
    <wsdl:part name="parameters" element="tns:ResetSearchCounterForHoldKeywordsYoutube" />
  </wsdl:message>
  <wsdl:message name="ResetSearchCounterForHoldKeywordsYoutubeSoapOut">
    <wsdl:part name="parameters" element="tns:ResetSearchCounterForHoldKeywordsYoutubeResponse" />
  </wsdl:message>
  <wsdl:message name="SelectTopProxySoapIn">
    <wsdl:part name="parameters" element="tns:SelectTopProxy" />
  </wsdl:message>
  <wsdl:message name="SelectTopProxySoapOut">
    <wsdl:part name="parameters" element="tns:SelectTopProxyResponse" />
  </wsdl:message>
  <wsdl:message name="LockDownKeywordYoutubeSoapIn">
    <wsdl:part name="parameters" element="tns:LockDownKeywordYoutube" />
  </wsdl:message>
  <wsdl:message name="LockDownKeywordYoutubeSoapOut">
    <wsdl:part name="parameters" element="tns:LockDownKeywordYoutubeResponse" />
  </wsdl:message>
  <wsdl:message name="LockDownProxySoapIn">
    <wsdl:part name="parameters" element="tns:LockDownProxy" />
  </wsdl:message>
  <wsdl:message name="LockDownProxySoapOut">
    <wsdl:part name="parameters" element="tns:LockDownProxyResponse" />
  </wsdl:message>
  <wsdl:message name="ReleaseKeywordYoutubeSoapIn">
    <wsdl:part name="parameters" element="tns:ReleaseKeywordYoutube" />
  </wsdl:message>
  <wsdl:message name="ReleaseKeywordYoutubeSoapOut">
    <wsdl:part name="parameters" element="tns:ReleaseKeywordYoutubeResponse" />
  </wsdl:message>
  <wsdl:message name="ReleaseProxySoapIn">
    <wsdl:part name="parameters" element="tns:ReleaseProxy" />
  </wsdl:message>
  <wsdl:message name="ReleaseProxySoapOut">
    <wsdl:part name="parameters" element="tns:ReleaseProxyResponse" />
  </wsdl:message>
  <wsdl:message name="IncreaseSearchCounterYoutubeSoapIn">
    <wsdl:part name="parameters" element="tns:IncreaseSearchCounterYoutube" />
  </wsdl:message>
  <wsdl:message name="IncreaseSearchCounterYoutubeSoapOut">
    <wsdl:part name="parameters" element="tns:IncreaseSearchCounterYoutubeResponse" />
  </wsdl:message>
  <wsdl:portType name="YoutubeServiceSoap">
    <wsdl:operation name="SelectTopKeywordYoutube">
      <wsdl:input message="tns:SelectTopKeywordYoutubeSoapIn" />
      <wsdl:output message="tns:SelectTopKeywordYoutubeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetSearchCounterYoutube">
      <wsdl:input message="tns:ResetSearchCounterYoutubeSoapIn" />
      <wsdl:output message="tns:ResetSearchCounterYoutubeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetSearchCounterForHoldKeywordsYoutube">
      <wsdl:input message="tns:ResetSearchCounterForHoldKeywordsYoutubeSoapIn" />
      <wsdl:output message="tns:ResetSearchCounterForHoldKeywordsYoutubeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectTopProxy">
      <wsdl:input message="tns:SelectTopProxySoapIn" />
      <wsdl:output message="tns:SelectTopProxySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LockDownKeywordYoutube">
      <wsdl:input message="tns:LockDownKeywordYoutubeSoapIn" />
      <wsdl:output message="tns:LockDownKeywordYoutubeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LockDownProxy">
      <wsdl:input message="tns:LockDownProxySoapIn" />
      <wsdl:output message="tns:LockDownProxySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseKeywordYoutube">
      <wsdl:input message="tns:ReleaseKeywordYoutubeSoapIn" />
      <wsdl:output message="tns:ReleaseKeywordYoutubeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseProxy">
      <wsdl:input message="tns:ReleaseProxySoapIn" />
      <wsdl:output message="tns:ReleaseProxySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IncreaseSearchCounterYoutube">
      <wsdl:input message="tns:IncreaseSearchCounterYoutubeSoapIn" />
      <wsdl:output message="tns:IncreaseSearchCounterYoutubeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YoutubeServiceSoap" type="tns:YoutubeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectTopKeywordYoutube">
      <soap:operation soapAction="http://tempuri.org/SelectTopKeywordYoutube" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetSearchCounterYoutube">
      <soap:operation soapAction="http://tempuri.org/ResetSearchCounterYoutube" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetSearchCounterForHoldKeywordsYoutube">
      <soap:operation soapAction="http://tempuri.org/ResetSearchCounterForHoldKeywordsYoutube" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTopProxy">
      <soap:operation soapAction="http://tempuri.org/SelectTopProxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockDownKeywordYoutube">
      <soap:operation soapAction="http://tempuri.org/LockDownKeywordYoutube" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockDownProxy">
      <soap:operation soapAction="http://tempuri.org/LockDownProxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseKeywordYoutube">
      <soap:operation soapAction="http://tempuri.org/ReleaseKeywordYoutube" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseProxy">
      <soap:operation soapAction="http://tempuri.org/ReleaseProxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseSearchCounterYoutube">
      <soap:operation soapAction="http://tempuri.org/IncreaseSearchCounterYoutube" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YoutubeServiceSoap12" type="tns:YoutubeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectTopKeywordYoutube">
      <soap12:operation soapAction="http://tempuri.org/SelectTopKeywordYoutube" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetSearchCounterYoutube">
      <soap12:operation soapAction="http://tempuri.org/ResetSearchCounterYoutube" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetSearchCounterForHoldKeywordsYoutube">
      <soap12:operation soapAction="http://tempuri.org/ResetSearchCounterForHoldKeywordsYoutube" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTopProxy">
      <soap12:operation soapAction="http://tempuri.org/SelectTopProxy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockDownKeywordYoutube">
      <soap12:operation soapAction="http://tempuri.org/LockDownKeywordYoutube" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockDownProxy">
      <soap12:operation soapAction="http://tempuri.org/LockDownProxy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseKeywordYoutube">
      <soap12:operation soapAction="http://tempuri.org/ReleaseKeywordYoutube" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseProxy">
      <soap12:operation soapAction="http://tempuri.org/ReleaseProxy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseSearchCounterYoutube">
      <soap12:operation soapAction="http://tempuri.org/IncreaseSearchCounterYoutube" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YoutubeService">
    <wsdl:port name="YoutubeServiceSoap" binding="tns:YoutubeServiceSoap">
      <soap:address location="http://autocompleteadmin.omsttech.com/WebService/YoutubeService.asmx" />
    </wsdl:port>
    <wsdl:port name="YoutubeServiceSoap12" binding="tns:YoutubeServiceSoap12">
      <soap12:address location="http://autocompleteadmin.omsttech.com/WebService/YoutubeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>